@page "/MapTest"
@inject IJSRuntime JSRuntime

<body>
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">                        
                        <h1>Map</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="map_container p-xl-4">
      <div class="row">
            <div id="map" class="col-3"></div>	<!--thêm thẻ div để chứa bản đồ-->
            <div id="text" class="col-3">
                <b>FeatureCollection</b><br>
                <textarea id="geojsontext1"></textarea>
                <input type="button" id="submit1" value="Submit">
                <br><b>A new feature</b>
                <textarea id="geojsontext2"></textarea>
                <input type="button" id="submit2" value="Submit">
            </div>
      </div>
    </div>
</body>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initialize", null);
            StateHasChanged();
        }

    }
}