﻿body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    max-width: 350px;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 80%;
    float: left;
}

#text {
    height: 100%;
    width: 20%;
    float: right;
}

#geojsontext1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 90%;
    height: 200px;
}

#geojsontext2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 90%;
    height: 100px;
}

#submit1, #submit2 {
    margin: 5px;
}

html {
    height: 100%;
}