@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization;
@using Blazored.Toast.Configuration;

<BlazoredToasts Position="ToastPosition.BottomRight" 
                Timeout="8" 
                IconType="IconType.FontAwesome" 
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info" 
                SuccessIcon="fa fa-check" 
                WarningIcon="fa fa-exclamation" />

<div class="page">
    <!--App <div class="sidebar">
         <NavMenu />
     </div>
      -->
    <Header />


    <main>
        <!-- <div class="top-row px-4">
             <AuthorizeView>
                 <Authorized>
                     Hello, @context.User.Identity.Name
                     <a href="/logout">Logout</a>
                 </Authorized>

                 <NotAuthorized>
                     <a href="/login" class="ml-md-auto">Login</a>
                 </NotAuthorized>
             </AuthorizeView>


             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

         </div>

            -->

        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <TechShop.Web.Pages.Login></TechShop.Web.Pages.Login>
            </NotAuthorized>
        </AuthorizeView>

    </main>

   

</div>
<Footer />